@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 100% 97%;
    --foreground: 247 75% 5%;
    --card: 260 100% 97%;
    --card-foreground: 247 75% 5%;
    --popover: 260 100% 97%;
    --popover-foreground: 247 75% 5%;
    --primary: 260 100% 79%;
    --primary-foreground: 247 75% 5%;
    --secondary: 260 82% 85%;
    --secondary-foreground: 247 75% 5%;
    --muted: 260 100% 20%;
    --muted-foreground: 247 75% 70%;
    --accent: 48 100% 95%;
    --accent-foreground: 247 75% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 247 75% 5%;
    --border: 260 100% 20%;
    --input: 260 100% 20%;
    --ring: 48 100% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 260 100% 3%;
    --foreground: 246 76% 95%;
    --card: 260 100% 3%;
    --card-foreground: 246 76% 95%;
    --popover: 260 100% 3%;
    --popover-foreground: 246 76% 95%;
    --primary: 260 100% 21%;
    --primary-foreground: 246 76% 95%;
    --secondary: 260 82% 15%;
    --secondary-foreground: 246 76% 95%;
    --muted: 260 100% 80%;
    --muted-foreground: 246 76% 95%;
    --accent: 46 100% 5%;
    --accent-foreground: 246 76% 95%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 246 76% 10%;
    --border: 260 100% 60%;
    --input: 260 100% 80%;
    --ring: 46 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
